@import '../variables';

.input {
  width: 100%;
  padding: 7px 20px;
  border: 1px solid $silver-sand-color;

  &[disabled] {
    opacity: 0.9;
    background: $gallery-color;
    color: $emperor-color;
  }
}

select.input {
  height: 34px;
  line-height: 1;
  border-radius: 0;
  -webkit-appearance: none;
}