@import '../variables';

.section {
  position: relative;

  .section-title {
    color: $emperor-color;
    font-size: 36px;
    line-height: 36px;
  }

  .section-subtitle {
    color: $emperor-color;
    font-size: 16px;
    line-height: 18px;
  }

  & + .section {
    margin-top: 11px;
  }

  .section-label {
    color: $emperor-color;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  .section-icon {
    &.-right {
      position: absolute;
      color: red;
      cursor: pointer;
      padding: 5px 0 5px 5px;
      height: 30px;
      top: 50%;
      margin-top: -15px;
      width: 20px;
      right: -15px;
    }
  }
}