@import '../variables';

.toggler {
  .toggler-item {
    background: $white-color;
    color: $emperor-color;
    padding: 7px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid $silver-sand-color;

    &:hover, &.-active {
      background: $shakespeare-color;
      color: $white-color;
    }

    &:hover {
      opacity: 0.8;
    }

    &.-no-left-border {
      border-left: 0;
    }
  }
}